.footer {
  font-family: 'Raleway';
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0.6vw;
  text-transform: uppercase;
  color: $basic;
}

.footer__text {
  padding-top: 3vw;
  text-align: center;
}
