.header {
  width: 100%;
  font-family: 'Raleway';
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.4vw;
  text-transform: uppercase;
  color: $basic;
  background-color: $deep;
  overflow: hidden;
}

.topline {
  width: 100%;
  height: $default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $deep;
  border-bottom: 1px solid rgba($basic, $border-opacity);
}

.logo {
  @extend %link;
  display: flex;
  align-items: center;
  gap: 1vw;
  color: $basic;
}

.logo__img--wrapper {
  width: $default;
  height: $default;
}

.logo__img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.topline__decoration {
  flex: 1 0 0;
  text-align: center;

  &::before {
    @include lightenedBlock($basic, $border-opacity);
    content: '';
    position: relative;
    top: -4px;
    display: inline-block;
    width: 50px;
    height: 1px;
  }

  @media screen and (max-width: 929px) {
    display: none;
  }
}

.topline__contacts {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 0.9vw;
  color: $secondary;
}

.topline__category {
  padding-right: 1vw;
}

.topline__number {
  @extend %link;
  font-family: 'Roboto';
  font-weight: 500;
  color: $accent;
}

.topline__location {
  color: $basic;
}

.topline__separator {
  @include lightenedBlock($basic, $border-opacity);
  width: 1px;
  height: 30px;
}

.topline__mylocation,
.topline__separator {
  @media screen and (max-width: 829px) {
    display: none;
  }
}

.burger__button {
  position: relative;
  flex: 0 0 $default;
  height: $default;
  color: $basic;
  background-color: $secondary;
  border: none;
  cursor: pointer;
  transition: color 400ms ease-out, background-color 400ms ease-out;

  &:hover,
  &:focus {
    color: $deep;
    background-color: $accent;
  }
}

.burger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}
