.icon-widget {
  @extend %list;
  position: absolute;
  left: 0;
  padding: 1vw;
  width: calc(#{$default} * 1.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
  color: $accent;
}

.icon-widget__item {
  width: 2vw;
  height: 2vw;
}

.icon-widget__icon {
  width: 100%;
  height: 100%;
}
