// %section {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: $tabletMax) {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

%list {
  list-style: none;
}

%link {
  color: $textcolor;
  text-decoration: none;
}
