// Colors

$accent: #ffeb3b;
$deep: #2f4858;
$primary: #006d7e;
$secondary: #00948c;
$textcolor: #392f00;
$basic: #fdf9ec;

$border-opacity: 0.2;

// Fonts

$lineheight: 1.7;
$userfont: Roboto, sans-serif;

// Sizes

$default: 70px;
$fontsize: 16px;
