body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  background-color: $deep;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}
