body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  background-color: $deep;
}

body,
html {
  width: 100vw;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
